ion-card {
  ion-card-header {
    .profile-icon {
      max-width: 6rem;
      max-height: 6rem;
    }

    .name {
      padding: 0;
      margin: 0;
      width: 50%;
      float: right;
      position: relative;
    }
  }
}
